// @mixin telefono {
//   @media (max-width: 480px) {
//     @content;
//   }
// }

// @mixin flexrow {
//   display: flex;
//   flex-direction: row;
// }

@mixin button {
  border-radius: 0px;
  width: 40%;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.secciones {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  @media screen {
    max-width: 768px;


    display: flex;
    flex: 0 0 40%;
    flex-direction: row;
  }

}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;


}


.titaño {
  font-size: 18px;
  width: 90%;
  color: #fdfffd;
  margin-top: 25px;
  text-align: center;
  margin: 0 auto;

}

.nuestrapolitica {
  font-size: 20px;
  color: #fdfffd;

}

.TextoQuienesSomos {
  font-size: 18px;
}

.TextoPoliticas {
  font-size: 18px;
}

h2 {
  text-align: center;
  flex-wrap: wrap;
}