@mixin telefono {
  @media (max-width: #{480px}) {
    @content;
  }
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
}

@mixin button {
  border-radius: 0px;
  width: 40%;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin SeccionesTexto {
  .SeccionesTexto {
    align-content: justify;
    justify-content: center;
    margin: 0 auto;
  }

  .titaño {
    font-size: 19px;
    font-family: Roboto;
    color: #fdfffd;
    margin: 0 auto;
  }

  .nuestrapolitica {
    font-size: 20px;
    font-family: Roboto;
    color: #fdfffd;
    margin: 0 auto;
  }

  .TextoQuienesSomos {
    font-size: 18px;
  }

  .TextoPoliticas {
    font-size: 18px;
  }

  h2 {
    text-align: center;
    flex-wrap: wrap;
  }

  p {
    text-align: justify;
    flex-wrap: wrap;
  }
}