* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya", sans-serif;
  color: #fff;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../utils/carusel.jpg");
  background-size: cover;
  background-position: center center;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px black;
}
h1 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.control input {
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  border: none;
  outline: none;
  margin: 2em 0;
}

.control1 {
  background: crimson;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0, 9;
  transition: opacity 0.3s ease;
}

.control input [type="submit"] :hover {
  opacity: 1;
}

.link {
  text-align: center;
}
.link a {
  color: rgb(255, 6, 213);
  text-decoration: #fff;

  transition: opacity 0.3s ease;
}
.link a:hover {
  opacity: 1;
}

button.btn.btn-danger {
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 11, 11);
}

nav {
  background-color: black;
}
