// /* Login de mi sitio web */
// body {
//   margin: 0;
//   padding: 0;
//   background-color: rgb(64, 179, 214);
//   opacity: 1.5;
//   filter: alpha(opacity=100);
//   zoom: 1;
//   font-family: "Alegreya", serif;
//   background-size: cover;
// }

// .card {
//   width: 18rem;
// }
.get_in_touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0, 1);
  padding: 30px;
}
.get_in_touch .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5532ca;
  background: linear-gradient(to right, #f4524d 0% #5533ca 100%);
}
